<!DOCTYPE html>
<html lang="">
    <head>
        <title>Ultima</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400" rel="styleshee">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/game.css') }}">
    </head>
    <body>
        <input id="this-user-id" type="hidden" value="{{ thisUserId }}">
        <input id="this-user-symbol" type="hidden" value="{{ thisUserSymbol }}">
        <input id="player-one-active" type="hidden" value="{{ playerOneActive }}">
        <input id="player-two-active" type="hidden" value="{{ playerTwoActive }}">
        <input id="game-complete" type="hidden" value="{{ gameComplete }}">
<!--        <input id="whose-turn" type="hidden" value="{{ whoseTurn }}">-->
        <header>
            <div class="tooltip">
                <a href="https://github.com/jrsmth/ultima" target="_blank"><img id="badge" alt="badge" src="{{ url_for('static', filename='img/badge.png') }}"></a>
                <div class="tooltip-text"><span>{{ version }}</span></div>
            </div>
            <h1>Ultima</h1>
        </header>
        <section id="content">
            <section class="side-bar left">
                <div class="player active-{{ playerOneActive }}" id="player1">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>{{ player1 }}</span>
                    <i class="fa fa-times symbol this-symbol-{{ thisUserSymbol }}"></i>
                </div>
                <div class="player active-{{ playerTwoActive }}" id="player2">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>{{ player2 }}</span>
                    <i class="fa-regular fa-circle symbol this-symbol-{{ thisUserSymbol }}"></i>
                </div>
            </section>
            <section class="main-bar">
                <div id="whose-turn">
                    <div id="whose-turn-cross" class="symbol-active-{{ playerOneActive }} this-symbol-{{ thisUserSymbol }}">
                        <i class="whose-turn-actual fa fa-times symbol"></i>
                        <i class="whose-turn-shadow fa fa-times symbol"></i>
                    </div>
                    <div id="whose-turn-circle" class="symbol-active-{{ playerTwoActive }} this-symbol-{{ thisUserSymbol }}">
                        <i class="whose-turn-actual fa-regular fa-circle symbol"></i>
                        <i class="whose-turn-shadow fa-regular fa-circle symbol"></i>
                    </div>
                </div>
                <div class="board this-user-{{ thisUserSymbol }} player-1-{{ playerOneActive }} player-2-{{ playerTwoActive }} game-complete-{{ gameComplete }}">
                    <div class="shadow-square" id="square-0"><div class="square" onclick="placeMove('0')">{{ zero }}</div></div>
                    <div class="shadow-square" id="square-1"><div class="square" onclick="placeMove('1')">{{ one }}</div></div>
                    <div class="shadow-square" id="square-2"><div class="square" onclick="placeMove('2')">{{ two }}</div></div>
                    <div class="shadow-square" id="square-3"><div class="square" onclick="placeMove('3')">{{ three }}</div></div>
                    <div class="shadow-square" id="square-4"><div class="square" onclick="placeMove('4')">{{ four }}</div></div>
                    <div class="shadow-square" id="square-5"><div class="square" onclick="placeMove('5')">{{ five }}</div></div>
                    <div class="shadow-square" id="square-6"><div class="square" onclick="placeMove('6')">{{ six }}</div></div>
                    <div class="shadow-square" id="square-7"><div class="square" onclick="placeMove('7')">{{ seven }}</div></div>
                    <div class="shadow-square" id="square-8"><div class="square" onclick="placeMove('8')">{{ eight }}</div></div>
                </div>
                <div class="notification active-{{ notificationActive }} {{ notificationType }}">
                    {{ notificationMessage }}
                </div>
            </section>
            <section class="side-bar right"></section>
        </section>
    </body>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</html>
