<!DOCTYPE html>
<html lang="">
    <head>
        <title>Ultima</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400" rel="styleshee">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/game.css') }}">
    </head>
    <body>
        <input id="game-id" type="hidden" value="{{ gameId }}">
        <input id="user-id" type="hidden" value="{{ userId }}">
        <input id="this-user-symbol" type="hidden" value="{{ thisUserSymbol }}">
        <input id="player-one-active" type="hidden" value="{{ playerOneActive }}">
        <input id="player-two-active" type="hidden" value="{{ playerTwoActive }}">
        <input id="game-complete" type="hidden" value="{{ gameComplete }}">
        <input id="game-mode" type="hidden" value="{{ gameMode }}">
        <input id="player-mode" type="hidden" value="{{ playerMode }}">
        <input id="inner-states" type="hidden" value="{{ innerStates }}">
        <input id="playable-square" type="hidden" value="{{ playableSquare }}">
        <!--        <input id="player-turn" type="hidden" value="{{ whoseTurn }}">-->
        <header>
            <div class="tooltip">
                <a href="https://github.com/jrsmth/ultima" target="_blank"><img id="badge" alt="badge" src="{{ url_for('static', filename='img/badge.png') }}"></a>
                <div class="tooltip-text">
                    <span>{{ version }}</span>
                </div>
            </div>
            <div id="copy-game-id">
                <div class="icon">
                    <i class="fa-solid fa-copy"></i>
                    <i class="fa-solid fa-check"></i>
                </div>
                <span>{{ gameId }}</span>
            </div>
        </header>
        <section id="content">
            <section class="side-bar left">
                <div class="player" id="player-one">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span id="player-one-name"></span>
                    <i class="symbol fa fa-times" id="player-one-symbol"></i>
                </div>
                <div class="player" id="player-two">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span id="player-two-name"></span>
                    <i class="symbol fa-regular fa-circle" id="player-two-symbol"></i>
                </div>
<!--                <div class="notification error active-{{ notificationActive }} sad">-->
<!--                    <div class="notification-content">-->
<!--                        <h3>Invalid Move</h3>-->
<!--                        <p>Play in the highlighted square</p>-->
<!--                    </div>-->
<!--                </div>-->
            </section>
            <section class="main-bar">
<!--                <div class="notification active-{{ notificationActive }} {{ notificationMood }}">-->
<!--                    <i class="fa-solid fa-arrow-rotate-left restart" onclick="restart()"></i>-->
<!--                    <div class="notification-content">-->
<!--                        <h3>{{ notificationHeader }}</h3>-->
<!--                        <p>{{ notificationMessage }}</p>-->
<!--                    </div>-->
<!--                </div>-->
                <div id="player-turn">
                    <div id="cross">
                        <i class="fa fa-times symbol"></i>
                        <i class="fa fa-times symbol shadow"></i>
                    </div>
                    <div id="circle">
                        <i class="fa-regular fa-circle symbol"></i>
                        <i class="fa-regular fa-circle symbol shadow"></i>
                    </div>
                </div>
                <section id="board-section">
                    <div class="board" id="three-board"></div>

                    {% if gameMode == "ULTIMATE" %}
                    <div class="board" id="nine-board">
                        {% for outer_square in board %}
                            <div class="shadow-square outer" id="nine-square-{{ loop.index0 }}">
                                <div class="square">
                                {% set outer_index = loop.index0 %}
                                {% for inner_square in outer_square %}
                                    <div class="shadow-square inner" id="nine-square-{{ outer_index }}-{{ loop.index0 }}">
                                        <div class="square" onclick="placeUltimateMove('{{ outer_index }}', '{{ loop.index0 }}')">{{ inner_square }}</div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </section>
            </section>
            <section class="side-bar right"></section>
        </section>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='scripts/game.js') }}"></script>
    <script>
        $(document).ready(function() {
            enableCopy()
            connectSocket("{{ gameId }}")
            init("{{ gameId }}")
        })
    </script>
</html>
