<!DOCTYPE html>
<html lang="">
    <head>
        <title>Ultima</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400" rel="styleshee">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/game.css') }}">
    </head>
    <body>
        <input id="this-user-id" type="hidden" value="{{ thisUserId }}">
        <input id="this-user-symbol" type="hidden" value="{{ thisUserSymbol }}">
        <input id="player-one-active" type="hidden" value="{{ playerOneActive }}">
        <input id="player-two-active" type="hidden" value="{{ playerTwoActive }}">
        <input id="game-complete" type="hidden" value="{{ gameComplete }}">
        <input id="game-mode" type="hidden" value="{{ gameMode }}">
        <!--        <input id="whose-turn" type="hidden" value="{{ whoseTurn }}">-->
        <header>
            <div class="tooltip">
                <a href="https://github.com/jrsmth/ultima" target="_blank"><img id="badge" alt="badge" src="{{ url_for('static', filename='img/badge.png') }}"></a>
                <div class="tooltip-text"><span>{{ version }}</span></div>
            </div>
            <h1>Ultima</h1>
        </header>
        <section id="content">
            <section class="side-bar left">
                <div class="player active-{{ playerOneActive }}" id="player1">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>{{ player1 }}</span>
                    <i class="fa fa-times symbol this-symbol-{{ thisUserSymbol }}"></i>
                </div>
                <div class="player active-{{ playerTwoActive }}" id="player2">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span>{{ player2 }}</span>
                    <i class="fa-regular fa-circle symbol this-symbol-{{ thisUserSymbol }}"></i>
                </div>
                <div class="notification error active-{{ notificationActive }} sad">
                    <div class="notification-content">
                        <h3>Invalid Move</h3>
                        <p>Play in the highlighted square</p>
                    </div>
                </div>
            </section>
            <section class="main-bar">
                <div class="notification active-{{ notificationActive }} {{ notificationMood }}">
                    <i class="{{ notificationIcon }}"></i>
                    <div class="notification-content">
                        <h3>{{ notificationHeader }}</h3>
                        <p>{{ notificationMessage }}</p>
                    </div>
                </div>
                <div id="whose-turn" class="inactive-{{ notificationActive }}">
                    <div id="whose-turn-cross" class="symbol-active-{{ playerOneActive }} this-symbol-{{ thisUserSymbol }}">
                        <i class="whose-turn-actual fa fa-times symbol"></i>
                        <i class="whose-turn-shadow fa fa-times symbol"></i>
                    </div>
                    <div id="whose-turn-circle" class="symbol-active-{{ playerTwoActive }} this-symbol-{{ thisUserSymbol }}">
                        <i class="whose-turn-actual fa-regular fa-circle symbol"></i>
                        <i class="whose-turn-shadow fa-regular fa-circle symbol"></i>
                    </div>
                </div>
                <section class="boards this-user-{{ thisUserSymbol }} player-1-{{ playerOneActive }} player-2-{{ playerTwoActive }} game-complete-{{ gameComplete }}">
                    <div class="board threeboard {{ gameMode }}">
                        {% for square in board %}
                            <div class="shadow-square" id="three-square-{{ loop.index0 }}"><div class="square" onclick="placeStandardMove('{{ loop.index0 }}')">{{ square }}</div></div>
                        {% endfor %}
                    </div>
                    {% if gameMode == "ULTIMATE" %} <!-- TODO :: where appropriate, replace css hiding tricks w/ template conditions -->
                    <div class="board nineboard {{ gameMode }}">
                        {% for outer_square in board %}
                            <div class="shadow-square outer" id="nine-square-{{ loop.index0 }}">
                                <div class="square">
                                {% set outer_index = loop.index0 %}
                                {% for inner_square in outer_square %}
                                    <div class="shadow-square inner" id="nine-square-{{ outer_index }}-{{ loop.index0 }}">
                                        <div class="square" onclick="placeMove('{{ outer_index }}', '{{ loop.index0 }}')">{{ inner_square }}</div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </section>
            </section>
            <section class="side-bar right"></section>
        </section>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/game.js') }}"></script>
</html>
