<!DOCTYPE html>
<html lang="">
    <head>
        <title>Ultima</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/login.css') }}">
    </head>
    <body>
        <section>
            <img id="logo" alt="logo" src="../static/img/logo.png">
            <form action="" method="post">
                <div class="form-control">
                    <div class="label">
                        <h3>Player Name</h3>
                    </div>
                    <div class="field">
                        <input type="text"
                               placeholder="Name"
                               name="name"
                               value="{{ request.form.name }}"
                               autofocus
                               autocomplete="off">
                    </div>
                </div>
                <div class="form-control">
                    <div class="label">
                        <h3>Game ID</h3>
                        <p>Leave blank to start a new game</p>
                    </div>
                    <div class="field">
                        <input type="text"
                               id="game-id"
                               placeholder="Game ID"
                               name="gameId"
                               value="{{ request.form.gameId }}"
                               autocomplete="off">
                    </div>
                </div>
                <div class="form-control radio">
                    <input type="hidden" id="game-mode" name="gameMode" value="standard">
                    <div class="label">
                        <h3>Game Mode</h3>
                    </div>
                    <div class="field radio">
                        <p class="selection selected">Standard</p>
                        <p class="selection">Ultimate</p>
                    </div>
                </div>
                <div class="form-control radio">
                    <input type="hidden" id="player-mode" name="playerMode" value="double">
                    <div class="label">
                        <h3>Player Mode</h3>
                    </div>
                    <div class="field radio">
                        <p class="selection selected">Double</p>
                        <p class="selection">Single</p>
                    </div>
                </div>
                <input type="hidden" id="restart" name="restart" value="">
                <div class="form-control button">
                    <button type="submit">Play</button>
                </div>
            </form>
        </section>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
</html>
