Flask~=3.0.0
Gunicorn~=21.2.0
Redis~=5.0.1
Flask_redis
pyjavaproperties~=0.7
pip~=20.2.4
argparse~=1.4.0
wheel~=0.35.1
pytest~=7.4.2
MarkupSafe~=2.1.3
werkzeug~=3.0.0
click~=8.1.7
Jinja2~=3.1.2
blinker~=1.6.3
itsdangerous~=2.1.2
packaging~=23.2
setuptools~=50.3.2
zipp~=3.17.0
gevent
flask_socketio
shortuuid
jsons
Flask-HTTPAuth
from-root
pyquery