* {
  font-family: Montserrat, sans-serif;
}

body {
  background-color: #180405;
}

// Colours
$aubergine: #2b0710;
$creole: #180405;
$pink: #E70453;
$pink25: #E7045340;
$pink75: #E70453BF; // 75% alpha
