@import "base";

/** Header */
header {
  display: flex;

  #badge {
    height: 2.25rem;
    margin: .5rem;
  }

  h1 {
    margin: .5rem;
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

/** Tooltip */
.tooltip {
  .tooltip-text {
    display: flex;
    visibility: hidden;
    position: absolute;
    letter-spacing: 1.5px;
    width: 20rem;
    padding: 0 1rem;
    font-size: .75rem;
  }

  &:hover .tooltip-text {
    visibility: visible;
  }
}

/** Main Content */
#content {
  display: flex;
  height: 100%;

  .this-user {
    color: $chartreuse;
  }

  .main-bar {
    width: 70%;
    text-align: center;

    .this-user.symbol {
      font-size: 5rem;
    }
  }
}

/** Side Bar */
.side-bar {
  margin-top: 6rem;
  width: 15%;

  .player {
    margin: 1rem;
    padding: 1rem;
    width: 10rem;

    &.active {
      border: 1px solid $pink25;
      background-color: $aubergine;
    }

    .fa-user {
      margin-right: .5rem;
      color: $pink;
    }

    .symbol {
      color: $pink;
      margin-left: .5rem;
      float: right;
      transform: translateY(1px);
    }
  }
}

/** Board */
.board {
  margin: 2rem auto 0 auto;
  height: $boardLengthDefault;
  aspect-ratio: 1 / 1;
  max-height: $boardLengthMax;
  min-height: $boardLengthMin;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;

  .shadow-square {
    margin: .5rem;
    border: 1px solid $pink25;
    background-color: $aubergine;

    .square {
      transform: translate(-0.25rem, -0.25rem);
      border: 1px solid $pink25;
      background-color: $aubergine;
      width: 100%;
      height: 100%;
      transition: .5s;
      cursor: pointer;

      &:hover {
        opacity: 1;
        border: 1px solid $chartreuse;
      }
    }
  }
}

/** Notification */
.notification {
  margin: 2rem auto 0 auto;
  border: 1px solid $pink25;
  background-color: $aubergine;
  height: 4rem;
  width: $boardLengthMin;
}

