@import "colours";
@import "spacing";

* {
  font-family: Montserrat, sans-serif;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  background-color: $creole;
  color: $text-light;
  height: 100%;
}
