@import "variables";
@import "animation";
@import "tooltip";
@import "dropdown";

* {
  font-family: Montserrat, sans-serif;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  background-color: $creole75;
  color: $text-lightest;
  height: 100%;
  margin: 0;

  #background-overlay {
    z-index: -1;
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: $deep-space;
    background: linear-gradient(90deg, $deep-space25 0%, $electric25 50%, $studio50 100%);
    text-align: center;

    h1 {
      text-transform: uppercase;
      font-size: 12rem;
      opacity: .2;
      letter-spacing: 4rem;
      margin: 0;
      top: 2rem;
      position: relative;
      font-weight: 400;

      background-image: linear-gradient(0deg, $studio00 0%, $studio 100%);
      background-size: 100%;
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
