// Colours

// Dark
$aubergine: #2b0710;
$creole: #180405;

// Pink
$carnation: #ff2c63;
$pink: #e70453;
$pink25: #e7045340; // 25% alpha
$pink75: #e70453bf; // 75% alpha

// Green
$verdun: #566505;
$chartreuse: #d8ff00;
$chartreuse05: #d8ff000d; // 5% alpha
$chartreuse25: #d8ff0040; // 25% alpha

// Text
$text-light: whitesmoke;