@import "variables";
@import "colours";

.game-dropdown {
  width: 15.81625rem;
  margin: auto;

  .select-btn {
    border: 1px solid rgba(97, 67, 191, 0.5);
    text-align: center;
    padding: 1rem;
    font-size: 11px;
    letter-spacing: 1px;
    border-radius: .75rem;
    align-items: center;
    cursor: pointer;
    color: #666469;

    i {
      float: right;
      color: #666469;
    }
  }

  .options {
    display: none;
    position: absolute;
    overflow-y: auto;
    margin-top: -1rem;
    padding: 0;
    width: 15.81625rem;

    .option {
      display: flex;
      justify-content: space-around;
      cursor: pointer;
      padding: 1rem;
      border-radius: 0;
      align-items: center;
      background: #221236;
      border: 1px solid rgba(97, 67, 191, 0.5);
      border-top: none;

      &.last {
        border-radius: 0 0 .75rem .75rem;
      }

      &:hover {
        background: #301c4c;
      }
      .option-text {
        font-size: 11px;
        letter-spacing: 1px;
      }
    }
  }
}

.select-btn.touched {
  color: $text-light
}

.game-dropdown.active {
  .select-btn {
    border-radius: .75rem .75rem 0 0;
    color: $text-light;

    i {
      transform: rotate(-180deg);
      margin-top: 2px;
      color: $text-light;
    }
  }
  .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: .25s;
    animation-fill-mode: both;
    -webkit-animation-duration: .25s;
    -webkit-animation-fill-mode: both;
  }
}


@keyframes fadeInUp {
  from {
    display: block;
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 1rem, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    display: block;
    transform: translate3d(0, 1rem, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 0;
  }
}