@import "base";

/** Header */
header {
  display: flex;
  margin: .75rem .5rem;
  gap: 2rem;
  align-items: center;

  i {
    margin-right: .5rem;
  }

  #badge {
    height: 2.25rem;
    margin: .5rem;
  }

  #copy-game-id {
    cursor: pointer;
    opacity: .8;
    transition: 500ms;
    display: flex;

    .fa-check {
      display: none;
    }

    .ticked {
      display: block;
      animation-name: fade-in-out;
      animation-duration: 1500ms;
      color: #13ECBA; // FixMe
    }

    .fade-in {
      display: block;
      animation-name: fade-in;
      animation-duration: 500ms;
    }
  }
}

/** Tooltip */
.tooltip {
  .tooltip-text {
    display: flex;
    visibility: hidden;
    position: absolute;
    letter-spacing: 1.5px;
    width: 20rem;
    padding: 0 1rem;
    font-size: .75rem;
  }

  &:hover .tooltip-text {
    visibility: visible;
  }
}

/** Main Content */
#content {
  display: flex;
  height: 100%;

  .this-user {
    color: $chartreuse;
  }

  .main-bar {
    width: 70%;
    text-align: center;

    #whose-turn {
      height: 5.125rem;
      &.inactive-True       { display: none; }

      .symbol-active-True   { display: block; }
      .symbol-active-False  { display: none; }

      .symbol {
        font-size: 5rem;
      }

      .whose-turn-shadow {
        position: absolute;
        opacity: .5;
        filter: blur(.5rem);
      }

      #whose-turn-cross {
        &.this-symbol-1  { color: $chartreuse; }
        &.this-symbol-2  { color: $rose; }

        .whose-turn-shadow {
          transform: translateX(-3.75rem);

        }
      }

      #whose-turn-circle {
        &.this-symbol-1 { color: $rose; }
        &.this-symbol-2 { color: $chartreuse; }

        .whose-turn-shadow {
          transform: translateX(-5rem);
        }
      }
    }
  }
}

/** Side Bar */
.side-bar {
  margin-top: 6.5rem;
  width: 15%;

  .player {
    margin: 1rem;
    padding: 1rem;
    width: 12rem;

    &.active {
      border: 1px solid $rose25;
      background-color: $aubergine;
    }

    &.active-True {
      border: 1px solid $rose25;
      border-radius: .25rem;
      background-color: $aubergine;
    }

    .fa-user {
      margin-right: .5rem;
      color: $rose;
    }

    .symbol {
      color: $rose;
      margin-left: .5rem;
      float: right;
      transform: translateY(1px);
    }

    &#player1 > .this-symbol-1 { color: $chartreuse }
    &#player1 > .this-symbol-2 { color: $rose }
    &#player2 > .this-symbol-1 { color: $rose }
    &#player2 > .this-symbol-2 { color: $chartreuse }
  }
}

/** Boards **/
.boards {
  .threeboard.STANDARD { display: grid; }
  .threeboard.ULTIMATE { display: none; }
  .nineboard.STANDARD  { display: none; }
  .nineboard.ULTIMATE  { display: grid; }

  &.this-user-1.player-1-False,
  &.this-user-2.player-2-False,
  &.game-complete-True {
    .threeboard .shadow-square .square,
    .nineboard .shadow-square.inner .square {
      border: 1px solid $rose25 !important;
      cursor: default !important;
    }
  }
}

.board {
  margin: 2rem auto 0 auto;
  height: $boardLengthDefault;
  aspect-ratio: 1 / 1;
  max-height: $boardLengthMax;
  min-height: $boardLengthMin;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

/** Three Board */
.threeboard {
  .shadow-square {
    margin: .5rem;
    border: 1px solid $rose25;
    background-color: $aubergine;
    border-radius: .5rem;

    .square {
      border-radius: inherit;
      transform: translate(-0.25rem, -0.25rem);
      border: 1px solid $rose25;
      background-color: $aubergine;
      transition: .5s;
      cursor: pointer;
      align-content: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;

      &:hover {
        opacity: 1;
        border: 1px solid $chartreuse;
      }

      .symbol {
        font-size: 4rem;
        position: absolute;
        margin-top: calc(47.5% - 2rem);
      }
    }

    &.this-user {
      border: 1px solid $chartreuse;

      .square {
        border: 1px solid $chartreuse;
        background-color: $chartreuse;
        cursor: default;

        .symbol {
          color: $aubergine;
        }
      }
    }

    &.opponent-user {
      border: 1px solid $rose;

      .square {
        border: 1px solid $rose;
        background-color: $rose;
        cursor: default;

        .symbol {
          color: $aubergine;
        }
      }
    }
  }
}

/** Nine Board */
.nineboard {
  .shadow-square.outer {
    margin: .5rem;

    &:not(.playable, .this-user, .opponent-user) {
      .inner:not(.playable, .this-user, .opponent-user) {
        cursor: default !important;
        opacity: .3;

        .square {
          cursor: default !important;
          border: 1px solid $rose25 !important;
        }
      }
    }

    .square {
      display: grid;
      grid-template-columns: 33.3% 33.33% 33.3%;
      height: 100%;
    }

    &.this-user .shadow-square.inner {
      border: 1px solid $chartreuse !important;
      opacity: 1;

      .square {
        border: 1px solid $chartreuse !important;
        background-color: $chartreuse !important;
        cursor: default !important;
      }
    }

    &.opponent-user .shadow-square.inner {
      border: 1px solid $rose !important;
      opacity: 1;

      .square {
        border: 1px solid $rose !important;
        background-color: $rose !important;
        cursor: default !important;
      }
    }

    &.draw .shadow-square.inner {
      opacity: .1;
    }
  }

  .shadow-square.inner {
    margin: .375rem;
    border: 1px solid $rose25;
    background-color: $aubergine;
    border-radius: .5rem;

    .square {
      border-radius: inherit;
      transform: translate(-0.25rem, -0.25rem);
      border: 1px solid $rose25;
      background-color: $aubergine;
      transition: .5s;
      cursor: pointer;
      align-content: center;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;

      &:hover {
        opacity: 1;
        border: 1px solid $chartreuse;
      }

      .symbol {
        font-size: 1.5rem;
        position: absolute;
        margin-top: calc(50% - .75rem);
      }
    }

    &.this-user {
      border: 1px solid $chartreuse;

      .square {
        border: 1px solid $chartreuse;
        background-color: $chartreuse;
        cursor: default;

        .symbol {
          color: $aubergine;
        }
      }
    }

    &.opponent-user {
      border: 1px solid $rose;

      .square {
        border: 1px solid $rose;
        background-color: $rose;
        cursor: default;

        .symbol {
          color: $aubergine;
        }
      }
    }
  }
}

/** Notification */
.notification {
  margin: 0 auto;
  height: 5rem;
  width: $boardLengthMax;
  letter-spacing: .5px;
  align-items: center;
  text-align: left;

  &.error {
    margin: 2rem 1rem 0 1rem;
    width: 14rem;

    .notification-content {
      margin: 1rem;
    }
  }

  &.active-True  { display: flex }
  &.active-False { display: none  }

  i {
    font-size: 1.5rem;
    margin: 0 1.5rem;
  }

  h3 {
    margin: 0 0 .5rem 0;
    font-weight: 400;
  }

  p {
    margin: 0;
    font-size: .7rem;
    font-weight: 200;
  }

  &.happy {
    color: $chartreuse;

    p {
      color: $text-lightest;
    }
  }

    &.sad {
      color: $rose;

      h3 {
        color: $carnation;
      }

      p {
        color: $text-lightest;
      }
  }

  .restart {
    cursor: pointer;
  }
}

