@import "base";

section {
  position: absolute;
  width: $loginWidth;
  height: $loginHeight;
  left: calc(50% - ($loginWidth * .5));
  top: calc(50% - $loginHeight);
  text-align: center;

  #logo {
    width: 10rem;
    margin-bottom: 2rem;
  }

  form {
    background: $aubergine;
    color: $text-light;
    box-shadow: $drop-shadow;
    border: 1px solid $cherry75;
    border-radius: .5rem;
    letter-spacing: .5px;
    display: flex;
    flex-direction: column;
    text-align: left;

    div { box-sizing: border-box; }
    h3  { font-size: 1rem; font-weight: normal; margin: 2px 0; color: $text-lighter}
    p   { font-size: .7rem; margin: 2px 0; color: $text-light }

    .form-control {
      display: flex;
      height: $form-control-height + ($gutter * 1.5);
      padding: $gutter;
      width: 100%;
      align-items: center;

      .field {
        margin-left: auto;
        display: flex;
        height: $form-control-height;
        align-items: center;
        justify-content: center;

        .selection {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          height: 2.25rem;
          width: calc($field-width * .5);
          margin-left: -1px;
          background-clip: border-box;
          transform: scale3d(1, 1, 1);

          background-color: $rose25;
          color: $text-light;
          transition: .15s ease-in-out background-color;

          &.selected {
            background-color: $rose75 !important;
            color: $text-lightest !important;
            z-index: 2;
            cursor: text;
          }

          &:hover {
            color: $text-lightest !important;
            background-color: $rose75;
          }
        }
      }

      &.button {
        display: flex;
        justify-content: end;
      }

      &.radio.hide {
        display: none;
      }
    }

    input {
      border: none;
      border-bottom: 1px solid $rose25;
      background: none;
      line-height: 2rem;
      color: $text-lightest;
      outline: none;
      width: 16.875rem;
      margin: auto;

      &:focus {
        border-bottom: 1px solid $rose75;
      }
    }

    button {
      width: calc($field-width * .5);
      background-color: $rose25;
      border: none;
      color: $text-lightest;
      transition: .15s ease-in-out background-color;
      padding: .5rem;
      cursor: pointer;
      letter-spacing: 1px;
      box-shadow: $drop-shadow;
      height: 2.25rem;

      &:hover {
        background: $rose75;
      }
    }

  }

}