$boardLengthMax: 600px;
$boardLengthMin: 400px;
$boardLengthDefault: 50%; // of main #content height

$loginWidth: 26rem;
$lhs_menu_item_width: 14rem;

$gutter: 2rem;
$form-control-height: 2rem;


//
$loginHeight: 28rem;
$field_width: 15.81625rem;
