$login-height: 28rem;
$login-width: 26rem;
$field-width: 15.81625rem;

$board-length-max: 600px;
$board-length-min: 400px;
$game-card-height-max: 48.75rem;
$game-card-height-min: 36.125rem;
$game-card-width-max: 41.625rem;
$game-card-width-min: 29.125rem;