$boardLengthMax: 600px;
$boardLengthMin: 400px;
$boardLengthDefault: 50%; // of main #content height
$lhs_menu_item_width: 14rem;


//
$loginHeight: 28rem;
$loginWidth: 26rem;
$field_width: 15.81625rem;
