* {
  font-family: Montserrat, sans-serif;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  background-color: #180405;
  color: whitesmoke;
  height: 100%;
}

/** Header */
header {
  display: flex;
  margin: 0.75rem 0.5rem;
}
header #badge {
  height: 2.25rem;
  margin: 0.5rem;
}

/** Tooltip */
.tooltip .tooltip-text {
  display: flex;
  visibility: hidden;
  position: absolute;
  letter-spacing: 1.5px;
  width: 20rem;
  padding: 0 1rem;
  font-size: 0.75rem;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

/** Main Content */
#content {
  display: flex;
  height: 100%;
}
#content .this-user {
  color: #d8ff00;
}
#content .main-bar {
  width: 70%;
  text-align: center;
}
#content .main-bar #whose-turn {
  height: 5.125rem;
}
#content .main-bar #whose-turn.inactive-True {
  display: none;
}
#content .main-bar #whose-turn .symbol-active-True {
  display: block;
}
#content .main-bar #whose-turn .symbol-active-False {
  display: none;
}
#content .main-bar #whose-turn .symbol {
  font-size: 5rem;
}
#content .main-bar #whose-turn .whose-turn-shadow {
  position: absolute;
  opacity: 0.5;
  filter: blur(0.5rem);
}
#content .main-bar #whose-turn #whose-turn-cross.this-symbol-1 {
  color: #d8ff00;
}
#content .main-bar #whose-turn #whose-turn-cross.this-symbol-2 {
  color: #e70453;
}
#content .main-bar #whose-turn #whose-turn-cross .whose-turn-shadow {
  transform: translateX(-3.75rem);
}
#content .main-bar #whose-turn #whose-turn-circle.this-symbol-1 {
  color: #e70453;
}
#content .main-bar #whose-turn #whose-turn-circle.this-symbol-2 {
  color: #d8ff00;
}
#content .main-bar #whose-turn #whose-turn-circle .whose-turn-shadow {
  transform: translateX(-5rem);
}

/** Side Bar */
.side-bar {
  margin-top: 6.5rem;
  width: 15%;
}
.side-bar .player {
  margin: 1rem;
  padding: 1rem;
  width: 12rem;
}
.side-bar .player.active {
  border: 1px solid rgba(231, 4, 83, 0.2509803922);
  background-color: #2b0710;
}
.side-bar .player.active-True {
  border: 1px solid rgba(231, 4, 83, 0.2509803922);
  border-radius: 0.25rem;
  background-color: #2b0710;
}
.side-bar .player .fa-user {
  margin-right: 0.5rem;
  color: #e70453;
}
.side-bar .player .symbol {
  color: #e70453;
  margin-left: 0.5rem;
  float: right;
  transform: translateY(1px);
}
.side-bar .player#player1 > .this-symbol-1 {
  color: #d8ff00;
}
.side-bar .player#player1 > .this-symbol-2 {
  color: #e70453;
}
.side-bar .player#player2 > .this-symbol-1 {
  color: #e70453;
}
.side-bar .player#player2 > .this-symbol-2 {
  color: #d8ff00;
}

/** Boards **/
.boards .threeboard.STANDARD {
  display: grid;
}
.boards .threeboard.ULTIMATE {
  display: none;
}
.boards .nineboard.STANDARD {
  display: none;
}
.boards .nineboard.ULTIMATE {
  display: grid;
}
.boards.this-user-1.player-1-False .threeboard .shadow-square .square,
.boards.this-user-1.player-1-False .nineboard .shadow-square.inner .square, .boards.this-user-2.player-2-False .threeboard .shadow-square .square,
.boards.this-user-2.player-2-False .nineboard .shadow-square.inner .square, .boards.game-complete-True .threeboard .shadow-square .square,
.boards.game-complete-True .nineboard .shadow-square.inner .square {
  border: 1px solid rgba(231, 4, 83, 0.2509803922) !important;
  cursor: default !important;
}

.board {
  margin: 2rem auto 0 auto;
  height: 50%;
  aspect-ratio: 1/1;
  max-height: 600px;
  min-height: 400px;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

/** Three Board */
.threeboard .shadow-square {
  margin: 0.5rem;
  border: 1px solid rgba(231, 4, 83, 0.2509803922);
  background-color: #2b0710;
  border-radius: 0.5rem;
}
.threeboard .shadow-square .square {
  border-radius: inherit;
  transform: translate(-0.25rem, -0.25rem);
  border: 1px solid rgba(231, 4, 83, 0.2509803922);
  background-color: #2b0710;
  transition: 0.5s;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.threeboard .shadow-square .square:hover {
  opacity: 1;
  border: 1px solid #d8ff00;
}
.threeboard .shadow-square .square .symbol {
  font-size: 4rem;
  position: absolute;
  margin-top: calc(47.5% - 2rem);
}
.threeboard .shadow-square.this-user {
  border: 1px solid #d8ff00;
}
.threeboard .shadow-square.this-user .square {
  border: 1px solid #d8ff00;
  background-color: #d8ff00;
  cursor: default;
}
.threeboard .shadow-square.this-user .square .symbol {
  color: #2b0710;
}
.threeboard .shadow-square.opponent-user {
  border: 1px solid #e70453;
}
.threeboard .shadow-square.opponent-user .square {
  border: 1px solid #e70453;
  background-color: #e70453;
  cursor: default;
}
.threeboard .shadow-square.opponent-user .square .symbol {
  color: #2b0710;
}

/** Nine Board */
.nineboard .shadow-square.outer {
  margin: 0.5rem;
}
.nineboard .shadow-square.outer:not(.playable, .this-user, .opponent-user) .inner:not(.playable, .this-user, .opponent-user) {
  cursor: default !important;
  opacity: 0.3;
}
.nineboard .shadow-square.outer:not(.playable, .this-user, .opponent-user) .inner:not(.playable, .this-user, .opponent-user) .square {
  cursor: default !important;
  border: 1px solid rgba(231, 4, 83, 0.2509803922) !important;
}
.nineboard .shadow-square.outer .square {
  display: grid;
  grid-template-columns: 33.3% 33.33% 33.3%;
  height: 100%;
}
.nineboard .shadow-square.outer.this-user .shadow-square.inner {
  border: 1px solid #d8ff00 !important;
  opacity: 1;
}
.nineboard .shadow-square.outer.this-user .shadow-square.inner .square {
  border: 1px solid #d8ff00 !important;
  background-color: #d8ff00 !important;
  cursor: default !important;
}
.nineboard .shadow-square.outer.opponent-user .shadow-square.inner {
  border: 1px solid #e70453 !important;
  opacity: 1;
}
.nineboard .shadow-square.outer.opponent-user .shadow-square.inner .square {
  border: 1px solid #e70453 !important;
  background-color: #e70453 !important;
  cursor: default !important;
}
.nineboard .shadow-square.outer.draw .shadow-square.inner {
  opacity: 0.1;
}
.nineboard .shadow-square.inner {
  margin: 0.375rem;
  border: 1px solid rgba(231, 4, 83, 0.2509803922);
  background-color: #2b0710;
  border-radius: 0.5rem;
}
.nineboard .shadow-square.inner .square {
  border-radius: inherit;
  transform: translate(-0.25rem, -0.25rem);
  border: 1px solid rgba(231, 4, 83, 0.2509803922);
  background-color: #2b0710;
  transition: 0.5s;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.nineboard .shadow-square.inner .square:hover {
  opacity: 1;
  border: 1px solid #d8ff00;
}
.nineboard .shadow-square.inner .square .symbol {
  font-size: 1.5rem;
  position: absolute;
  margin-top: calc(50% - 0.75rem);
}
.nineboard .shadow-square.inner.this-user {
  border: 1px solid #d8ff00;
}
.nineboard .shadow-square.inner.this-user .square {
  border: 1px solid #d8ff00;
  background-color: #d8ff00;
  cursor: default;
}
.nineboard .shadow-square.inner.this-user .square .symbol {
  color: #2b0710;
}
.nineboard .shadow-square.inner.opponent-user {
  border: 1px solid #e70453;
}
.nineboard .shadow-square.inner.opponent-user .square {
  border: 1px solid #e70453;
  background-color: #e70453;
  cursor: default;
}
.nineboard .shadow-square.inner.opponent-user .square .symbol {
  color: #2b0710;
}

/** Notification */
.notification {
  margin: 0 auto;
  border: 1px solid rgba(231, 4, 83, 0.2509803922);
  border-radius: 0.5rem;
  background-color: #2b0710;
  height: 5rem;
  width: 400px;
  letter-spacing: 0.5px;
  align-items: center;
  text-align: left;
}
.notification.error {
  margin: 2rem 1rem 0 1rem;
  width: 14rem;
}
.notification.error .notification-content {
  margin: 1rem;
}
.notification.active-True {
  display: flex;
}
.notification.active-False {
  display: none;
}
.notification i {
  font-size: 1.5rem;
  margin: 0 1.5rem;
}
.notification h3 {
  margin: 0 0 0.5rem 0;
  font-weight: 400;
}
.notification p {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 200;
}
.notification.happy {
  color: #d8ff00;
  border: 1px solid rgba(216, 255, 0, 0.2509803922);
  background-color: rgba(216, 255, 0, 0.0509803922);
}
.notification.happy p {
  color: whitesmoke;
}
.notification.sad {
  color: #e70453;
  border: 1px solid rgba(231, 4, 83, 0.2509803922);
  background-color: #2b0710;
}
.notification.sad h3 {
  color: #ff2c63;
}
.notification.sad p {
  color: whitesmoke;
}

/*# sourceMappingURL=game.css.map */
