@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  font-family: Montserrat, sans-serif;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  background-color: #180405;
  color: whitesmoke;
  height: 100%;
}

/** Header */
header {
  display: flex;
  margin: 0.75rem 0.5rem;
  gap: 2rem;
  align-items: center;
}
header i {
  margin-right: 0.5rem;
}
header #badge {
  height: 2.25rem;
  margin: 0.5rem;
}
header #copy-game-id {
  cursor: pointer;
  opacity: 0.8;
  transition: 500ms;
  display: flex;
}
header #copy-game-id .fa-check {
  display: none;
}
header #copy-game-id .ticked {
  display: block;
  animation-name: fade-in-out;
  animation-duration: 1500ms;
  color: #13ECBA;
}
header #copy-game-id .fade-in {
  display: block;
  animation-name: fade-in;
  animation-duration: 500ms;
}

/** Tooltip */
.tooltip .tooltip-text {
  display: flex;
  visibility: hidden;
  position: absolute;
  letter-spacing: 1.5px;
  width: 20rem;
  padding: 0 1rem;
  font-size: 0.75rem;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

/** Main Content */
#content {
  display: flex;
  height: 100%;
}
#content .this-symbol {
  color: #d8ff00;
}
#content .main-bar {
  width: 70%;
  text-align: center;
}
#content .main-bar #player-turn {
  height: 5.125rem;
  color: #e70453;
}
#content .main-bar #player-turn.hide {
  display: none;
}
#content .main-bar #player-turn div {
  display: none;
}
#content .main-bar #player-turn div.active {
  display: block;
}
#content .main-bar #player-turn div.this-user {
  color: #d8ff00;
}
#content .main-bar #player-turn div .symbol {
  font-size: 5rem;
}
#content .main-bar #player-turn div .symbol.shadow {
  position: absolute;
  opacity: 0.5;
  filter: blur(0.5rem);
}
#content .main-bar #player-turn #cross .shadow {
  transform: translateX(-3.75rem);
}
#content .main-bar #player-turn #circle .shadow {
  transform: translateX(-5rem);
}

/** Side Bar */
.side-bar {
  margin-top: 6.5rem;
  width: 15%;
}
.side-bar .player {
  margin: 1rem;
  padding: 1rem;
  width: 12rem;
}
.side-bar .player .fa-user {
  margin-right: 0.5rem;
  color: #e70453;
}
.side-bar .player .symbol {
  color: #e70453;
  margin-left: 0.5rem;
  float: right;
  transform: translateY(1px);
}
.side-bar .player.active {
  border: 1px solid rgba(231, 4, 83, 0.2509803922);
  border-radius: 0.25rem;
  background-color: #2b0710;
}
.side-bar .player.active.this-user > .symbol {
  color: #d8ff00;
}

/** Boards **/
#board-section.this-user-1.player-1-False .threeboard .shadow-square .square,
#board-section.this-user-1.player-1-False .nineboard .shadow-square.inner .square, #board-section.this-user-2.player-2-False .threeboard .shadow-square .square,
#board-section.this-user-2.player-2-False .nineboard .shadow-square.inner .square, #board-section.game-complete-True .threeboard .shadow-square .square,
#board-section.game-complete-True .nineboard .shadow-square.inner .square {
  border: 1px solid rgba(231, 4, 83, 0.2509803922) !important;
  cursor: default !important;
}

.board {
  display: grid;
  margin: 2rem auto 0 auto;
  height: 50%;
  aspect-ratio: 1/1;
  max-height: 600px;
  min-height: 400px;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

/** Three Board */
#three-board .shadow {
  margin: 0.5rem;
  border: 1px solid rgba(231, 4, 83, 0.2509803922);
  background-color: #2b0710;
  border-radius: 0.5rem;
}
#three-board .shadow .square {
  border-radius: inherit;
  transform: translate(-0.25rem, -0.25rem);
  border: 1px solid rgba(231, 4, 83, 0.2509803922);
  background-color: #2b0710;
  transition: 0.5s;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
#three-board .shadow .square:hover {
  opacity: 1;
  border: 1px solid #d8ff00;
}
#three-board .shadow .square .symbol {
  font-size: 4rem;
  position: absolute;
  margin-top: calc(47.5% - 2rem);
}
#three-board .shadow.this-user {
  border: 1px solid #d8ff00;
}
#three-board .shadow.this-user .square {
  border: 1px solid #d8ff00;
  background-color: #d8ff00;
  cursor: default;
}
#three-board .shadow.this-user .square .symbol {
  color: #2b0710;
}
#three-board .shadow.opponent {
  border: 1px solid #e70453;
}
#three-board .shadow.opponent .square {
  border: 1px solid #e70453;
  background-color: #e70453;
  cursor: default;
}
#three-board .shadow.opponent .square .symbol {
  color: #2b0710;
}

/** Nine Board */
#nine-board .shadow.outer {
  margin: 0.5rem;
}
#nine-board .shadow.outer:not(.playable, .this-user, .opponent) .inner:not(.playable, .this-user, .opponent) {
  cursor: default !important;
  opacity: 0.3;
}
#nine-board .shadow.outer:not(.playable, .this-user, .opponent) .inner:not(.playable, .this-user, .opponent) .square {
  cursor: default !important;
  border: 1px solid rgba(231, 4, 83, 0.2509803922) !important;
}
#nine-board .shadow.outer .square {
  display: grid;
  grid-template-columns: 33.3% 33.33% 33.3%;
  height: 100%;
}
#nine-board .shadow.outer.this-user .shadow.inner {
  border: 1px solid #d8ff00 !important;
  opacity: 1;
}
#nine-board .shadow.outer.this-user .shadow.inner .square {
  border: 1px solid #d8ff00 !important;
  background-color: #d8ff00 !important;
  cursor: default !important;
}
#nine-board .shadow.outer.opponent .shadow.inner {
  border: 1px solid #e70453 !important;
  opacity: 1;
}
#nine-board .shadow.outer.opponent .shadow.inner .square {
  border: 1px solid #e70453 !important;
  background-color: #e70453 !important;
  cursor: default !important;
}
#nine-board .shadow.outer.draw .shadow.inner {
  opacity: 0.1;
}
#nine-board .shadow.inner {
  margin: 0.375rem;
  border: 1px solid rgba(231, 4, 83, 0.2509803922);
  background-color: #2b0710;
  border-radius: 0.5rem;
}
#nine-board .shadow.inner .square {
  border-radius: inherit;
  transform: translate(-0.25rem, -0.25rem);
  border: 1px solid rgba(231, 4, 83, 0.2509803922);
  background-color: #2b0710;
  transition: 0.5s;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
#nine-board .shadow.inner .square:hover {
  opacity: 1;
  border: 1px solid #d8ff00;
}
#nine-board .shadow.inner .square .symbol {
  font-size: 1.5rem;
  position: absolute;
  margin-top: calc(50% - 0.75rem);
}
#nine-board .shadow.inner.this-user {
  border: 1px solid #d8ff00;
}
#nine-board .shadow.inner.this-user .square {
  border: 1px solid #d8ff00;
  background-color: #d8ff00;
  cursor: default;
}
#nine-board .shadow.inner.this-user .square .symbol {
  color: #2b0710;
}
#nine-board .shadow.inner.opponent {
  border: 1px solid #e70453;
}
#nine-board .shadow.inner.opponent .square {
  border: 1px solid #e70453;
  background-color: #e70453;
  cursor: default;
}
#nine-board .shadow.inner.opponent .square .symbol {
  color: #2b0710;
}

/** Notification */
.notification {
  margin: 0 auto;
  height: 5rem;
  width: 600px;
  letter-spacing: 0.5px;
  align-items: center;
  text-align: left;
}
.notification.error {
  margin: 2rem 1rem 0 1rem;
  width: 14rem;
}
.notification.error .notification-content {
  margin: 1rem;
}
.notification.active-True {
  display: flex;
}
.notification.active-False {
  display: none;
}
.notification i {
  font-size: 1.5rem;
  margin: 0 1.5rem;
}
.notification h3 {
  margin: 0 0 0.5rem 0;
  font-weight: 400;
}
.notification p {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 200;
}
.notification.happy {
  color: #d8ff00;
}
.notification.happy p {
  color: whitesmoke;
}
.notification.sad {
  color: #e70453;
}
.notification.sad h3 {
  color: #ff2c63;
}
.notification.sad p {
  color: whitesmoke;
}
.notification .restart {
  cursor: pointer;
}

/*# sourceMappingURL=game.css.map */
