#starfield {
  width: 100%;
  height: 100%;
  z-index: -100;
  background-color: #0f0f1a;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  font-family: Montserrat, sans-serif;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  background-color: rgba(24, 4, 5, 0.7490196078);
  color: whitesmoke;
  height: 100%;
  margin: 0;
}

section {
  position: absolute;
  width: 36rem;
  height: 20rem;
  left: calc(50% - 18rem);
  top: calc(50% - 20rem);
  text-align: center;
  background-color: #1e1530;
  padding: 4rem 2rem;
  border-radius: 1.25rem;
}
section #logo {
  width: 10rem;
  margin-bottom: 2rem;
}
section form {
  color: #ccc;
  box-shadow: 0px 13px 50px -13px rgba(0, 0, 0, 0.0980392157);
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
section form div {
  box-sizing: border-box;
}
section form h3 {
  font-size: 1rem;
  font-weight: normal;
  margin: 2px 0;
  color: #eee;
}
section form p {
  font-size: 0.7rem;
  margin: 2px 0;
  color: #ccc;
}
section form .form-control {
  display: flex;
  height: 5rem;
  padding: 2rem;
  width: 100%;
  align-items: center;
}
section form .form-control .field {
  margin-left: auto;
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: center;
}
section form .form-control .field .selection {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2.25rem;
  width: 8.5rem;
  margin-left: -1px;
  background-clip: border-box;
  transform: scale3d(1, 1, 1);
  background-color: rgba(231, 4, 83, 0.2509803922);
  color: #ccc;
  transition: 0.15s ease-in-out;
}
section form .form-control .field .selection.selected {
  background-color: rgba(231, 4, 83, 0.7490196078) !important;
  color: whitesmoke !important;
  z-index: 2;
  cursor: text;
}
section form .form-control .field .selection:hover {
  color: whitesmoke !important;
  background-color: rgba(231, 4, 83, 0.7490196078);
}
section form .form-control.button {
  display: flex;
  justify-content: end;
}
section form .form-control.radio.hide {
  display: none;
}
section form input {
  border: none;
  border-bottom: 1px solid rgba(231, 4, 83, 0.2509803922);
  background: none;
  line-height: 2rem;
  color: whitesmoke;
  outline: none;
  width: 16.875rem;
  margin: auto;
}
section form input:focus {
  border-bottom: 1px solid rgba(231, 4, 83, 0.7490196078);
  transition: 0.15s ease-in-out;
}
section form button {
  width: 8.5rem;
  background-color: rgba(231, 4, 83, 0.2509803922);
  border: none;
  color: whitesmoke;
  transition: 0.15s ease-in-out;
  padding: 0.5rem;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: 0px 13px 50px -13px rgba(0, 0, 0, 0.0980392157);
  height: 2.25rem;
}
section form button:hover {
  background: rgba(231, 4, 83, 0.7490196078);
}

#login-loader {
  display: none;
  margin: auto;
  border: 0.5rem solid rgba(97, 67, 191, 0.5019607843);
  border-top: 0.5rem solid #6143bf;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 2s linear infinite;
  opacity: 0.5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=login.css.map */
